@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

body{
    background: url(https://t3.ftcdn.net/jpg/01/22/63/48/240_F_122634828_LyDnIJqk0LvTILpAvBTg17CX6ZWPXVbj.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-title{
    text-align: center;
    text-decoration: underline;
    color: white;
}

.p-desc{
    text-align: center;
    font-size: large;
    color: white;
}

ul{
    display: flex;
    overflow: hidden;
    list-style-type:none;
    color: rgb(255, 255, 255);
}

img.one-badge{
    width: 300px;
    height: 300px;
    margin: 10px 0px 50px 0px;
    border: 2px solid rgb(27, 223, 9);
    border-radius: 30px;
}

img.two-badge{
    width: 300px;
    height: 300px;
    margin: 10px 5px 50px 5px;
    border: 2px solid rgb(27, 223, 9);
    border-radius: 30px;
}

img.three-badge{
    width: 300px;
    height: 300px;
    margin: 10px 0px 50px 0px;
    border: 2px solid rgb(27, 223, 9);
    border-radius: 30px;
}

img.four-badge{
    width: 300px;
    height: 300px;
    margin: 10px 0px 50px 5px;
    border: 2px solid rgb(27, 223, 9);
    border-radius: 30px;
}

img.five-badge{
    width: 300px;
    height: 300px;
    margin: 10px 0px 50px 0px;
}

img.six-badge{
    width: 300px;
    height: 300px;
    margin: 10px 0px 50px 0px;
}